/* CSS Global */
* {
	margin: 0;
	padding: 0;
}

/* Body */
body {
	background-color: #6a82fb;
}

/* Panel de connexion - enregistrement */
#index form:first-of-type, #nouveau form:first-of-type {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 30vw;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: white;
	border-radius: 5px;
}

#index p:nth-of-type(1), #nouveau p:nth-of-type(1) {
	text-align: center;
	font-size: 2em;
}

#index form:first-of-type button, #index form:first-of-type input, #nouveau form:first-of-type button, #nouveau form:first-of-type input {
	margin-top: 5px;
	height: 30px;
	border-radius: 5px;
	font-weight: bold;
	padding-left: 5px;
	border: solid black 2px;
}

#index form:first-of-type button, #nouveau form:first-of-type button{
	background-color: #32de84; 
}

#index form:first-of-type button, #nouveau form:first-of-type button {
	margin-bottom: 5px;
}

/* Gestion des erreurs / succès formulaires enregistrement + connexion */
#index div:first-of-type,  #nouveau div:first-of-type {
	display: flex;
	justify-content: center;
	width: 32vw;
	margin-top: 30vh;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

#index div:first-of-type .errorMessage, #nouveau div:first-of-type .errorMessage {
	background-color: red;
	border-radius: 5px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	width: 100%;
}

#index div:first-of-type .successMessage, #nouveau div:first-of-type .successMessage {
	background-color: #32de84;
	border-radius: 5px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	width: 100%;
}


/* Bouton de consultation des news */
#index a:nth-child(0n+3), #nouveau a:nth-child(0n+3) {
	display: flex;
	justify-content: center;
	background-color: #0F5298;
	margin-left: auto;
	margin-right: auto;
	width: 30vw;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

/* News - titre */
#news #newsheader {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	background-color: white;
	width: 80%;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

/* News - Choix catégorie + Retour */
#news form {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	margin-top: 10px;
	margin-right: 10%;
}

#news form a {
	height: 25px;
	background-color: #de6262 ;
	margin-right: 10px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#news form button, #news form div select {
	height: 25px;
}

#news form select {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: solid black 1px;
	border-right: none;
	font-weight: bold;
}

#news form button {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	width: 30px;
	border: solid black 1px;
	border-left: none;
	background-color: white;
	font-weight: bold;
}

#news div .nouveaute {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 5px;
	border: solid black 1px;
	margin-top: 20px;
}

#news div .nouveaute .en-tete {
	display: flex;
	flex-direction: row; 
	width: 100%;
	border-bottom: solid black 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#news div .nouveaute .en-tete p {
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 1.2em;

}

#news div .nouveaute .corp {
	padding: 20px;
}

#news div .nouveaute .corp p {
	font-weight: normal;
	text-align: center;
}